.date {
  font-size: small;
  font-weight: bold;
  padding-left: 58%;
}

/* ボタンのプロパティ */

.save_buttonbox {
  background: rgb(236, 233, 233);
  border: 1px solid #1b1b1b;
  border-radius: 5px;
  color: #1b1b1b;
  display: inline-block;
  height: 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 120px;
  widows: 5px;
}

table {
  margin: 0 0 30 0;
}

h1.main_title {
  border-bottom: solid 1px red;
}

h2.sub_title {
  margin: 0 0 0 250px;
}

table.table_style {
  width: 70%;
  border: none;
  border-collapse: collapse;
  font-size: 10pt"
}

table.table_style thead th {
  border-bottom: 3px double;
}

table.table_style td {
  border: 1px solid #222;
}

table.table_style th {
  border: 1px solid #222;
}

table.table_style td.ex_border_br {
  border-bottom: 0px;
  border-right: 0px;
  
}

table.table_style td.ex_border_t {
  border-top: 0px;
}

table.table_style td.ex_border_l {
  border-left: 0px;
  text-align: left;
}

table.table_style td.ex_border_r {
  border-right: 0px;
}

table.table_style td.ex_border_tlr {
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  font-weight: bold;
  text-align: right;
}

table.table_style th.ex_border_tblr {
  border-top: 1px;
  border-bottom: 1px;
  border-left: 1px;
  border-right: 1px;
  text-align: right;
  font-weight: bold;
}

span {
  color: red;
}

table.table_style td.row_button {
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  text-align: left;
  font-weight: bold;
}

.table_sub_title
{
  font-weight:bold;
}

.rule_message
{
  text-align: left;
  width:"45%";
}