.date {
    font-size: small;
    padding-left: 58%;
    font-weight: bold;
  } 

#readJSON,
#outputPDF,
#writeJSON,
#previewSS {
  display: none;
}

/* ボタンのプロパティ */

.buttonbox {
  widows: 5px;
  height: 25px;
  display: inline-block;
  position: relative;
  width: 120px;
  text-align: center;
  text-decoration: none;
  color: #1b1b1b;
  background: rgb(236, 233, 233);
  border: 1px solid #1b1b1b;
  border-radius: 5px;
}

table {
  margin: 0 0 30 0;
}

.StyleTitle {
  border-bottom: solid 1px red;
}

.StyleTitle2 {
  margin: 0 0 0 250px;
}

table.tableStyle thead th {
  border-bottom: 3px double;
  /* font-weight: normal; */
}

table.tableStyle td {
  border: 1px solid #222;
}

table.tableStyle th {
  border: 1px solid #222;
}

table.tableStyle td.ex_border_br {
  border-bottom: 0px;
  border-right: 0px;
}

table.tableStyle td.ex_border_t {
  border-top: 0px;
}

table.tableStyle td.ex_border_l {
  border-left: 0px;
}

table.tableStyle td.ex_border_r {
  border-right: 0px;
}

table.tableStyle td.ex_border_tlr {
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  text-align: right;
  font-weight: bold;
}

table.tableStyle th.ex_border_tblr {
  border-top: 1px;
  border-bottom: 1px;
  border-left: 1px;
  border-right: 1px;
  text-align: right;
  font-weight: bold;
}

span {
  color: red;
}

table.tableStyle td.Rowbutton {
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    text-align: left;
    font-weight: bold;
  }
